<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review</title>
</head>

<body>
	<main>
		<h1 th:text = "${review.park.parkName}">Park Name Here...</h1>
			<!-- <h3 th:text = "${park.parkName}">Default</h3>
 -->
        <h2>
        	<span th:text = "${review.title}">Default</span>
        </h2>
        	<!-- <span th:text = "${review.park}">Default</span> -->
        <h3>
            <span th:text = "${review.review}">Default</span>
        </h3>

        <form th:action="@{|/reviews/${review.id}|}" method="POST">
			<label>Add a comment here:<input type="text" name="commentContent"/></label>
			<button type="submit">Submit</button>
		</form>

        <h3>Comments</h3>
        	<ul>
        		<li th:each = "comment : ${review.comments}"></li>
        			<
        	</ul>

    </main>
</body>
</html>