<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Review</title>
	<link rel="stylesheet" type="text/css" href="/css/individualReview.css">
</head>
<div class="background">

	<body>
		<header class="grid-header">
			<figure id="logo">
				<a href="/"><img src="../cbusparks.png" alt="CBus Parks logo"></a>
			</figure>
			<div class="grid-header__parkname">
				<h1 th:text="${review.park.parkName}">Park Name Here...</h1>
			</div>
		</header>

		<div class="container__body">
			<div>
				<h2>
					<span th:text="${review.title}">Default</span>
				</h2>
				<!-- <span th:text = "${review.park}">Default</span> -->
			</div>

			<div>
				<h3>
					<span th:text="${review.review}">Default</span>
				</h3>
			</div>

			<div>
				<form th:action="@{|/reviews/${review.id}|}" method="POST">
					<label>Add a comment here:<input type="text" name="commentContent" /></label>
					<button type="submit">Submit</button>
				</form>
			</div>

			<div>
				<h3>Comments</h3>
			</div>

			<div>
				<ul>
					<li th:each="comment : ${review.comments}">
						<h4 th:text="${comment.commentContent}">Default</a></h4>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<div class="grid-footer">
		<footer>
			<p>CBus Parks and Rec,</p>
			<!-- <script type="text/javascript">
					document.write(new Date().getFullYear());
				</script> -->
		</footer>
	</div>
</div>

</html>