<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Review</title>
	<link rel="stylesheet" type="text/css" href="/css/individualReview.css">
</head>
<div class="background">

	<body>
		<header class="grid-header">
			<figure id="logo">
				<a href="/"><img src="../cbusparks.png" alt="CBus Parks logo"></a>
			</figure>
			<div class="grid-header__parkname">
				<h1 th:text="${review.park.parkName}">Park Name Here...</h1>
			</div>
		</header>
		<div class="container__body">

			<div class="container__title">
				<h2>
					<span th:text="${review.title}">Default</span>
				</h2>
				<!-- <span th:text = "${review.park}">Default</span> -->
			</div>

			<div class="container__review">
				<h3>
					<span th:text="${review.review}">Default</span>
				</h3>
			</div>

			<!-- <div class="container__delete">
				<form th:action="@{|/reviews/${review.id}|}" method="POST">
					
					<div class="container__delete-review">
						<button type="submit">DELETE REVIEW</button>
					</div>
				</form>
			</div> -->

			<div class="container__old-comment-header">
				<h3>Comments</h3>
			</div>

			<ul class="container__list-old-comments">
				<li th:each="comment : ${review.comments}" class="border">
					<h4 id="commentWrap" th:text="${comment.commentContent}">Default</a></h4>
				</li>
			</ul>

			<div class="container__new-comment">
				<form th:action="@{|/reviews/${review.id}|}" method="POST">
					<div class="container__add-comment">
						<input type="text" name="commentContent" placeholder="ADD A COMMENT" />
					</div>
					<div class="container__submit">
						<button type="submit">SUBMIT COMMENT</button>
					</div>
				</form>
			</div>
		</div>

	</body>
	<div>
		<footer>
			<p>CBus Parks and Rec,</p>
			    <script type="text/javascript">
					document.write(new Date().getFullYear());
				</script>
		</footer>
	</div>
</div>

</html>