<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Specific Categories Park List</title>
   <link rel="stylesheet" type="text/css" href="../../css/specificCategory.css">

</head>
<div class="background">
<body>
	<div class="grid-header">
		<header>
			<figure id="logo">
				<a href="/"><img src="../cbusparks.png" alt="CBus Parks logo"></a>
			</figure>
		</header>
	</div>
	<div class="container__body">
			<section>
				<h1>Welcome to CBUS Parks & Rec!</h1>
				<h2>To continue with your park search, select a specific park below.</h2>
			</section>
		<ul class="container__category" th:each= "park : ${category.parks}">
			<div class="container__category--texts">
				<li class="container__category--name">
					<h3><a th:text = "${park.parkName}" th:href="@{|/categories/${park.id}|}">Default</a></h3>
				</li>
				
				<li class="container__category--description">
						<h3><a th:text = "${park.location}" th:href="@{|/categories/${park.location}|}">Default</a></h3>
					</li>

				<li class="container__category--description">
					<h3><a th:text = "${park.website}" th:href="@{|/categories/${park.website}|}">Default</a></h3>
				</li>

				<li class="container__category--description">
						<h3><a th:text = "${park.description}" th:href="@{|/categories/${park.description}|}">Default</a></h3>
				</li>
			</div> 
				<li class="container__category--image">
					<a th:href="@{|/parks/${park.parkImageUrl}|}"><img
							th:src="@{${'../../' + park.parkImageUrl + '.jpg'}}"></a>
				</li>
		</ul>
	</div>
<div class="grid-footer">
	<footer>
		<p>CBus Parks and Rec,</p>
		<!-- <script type="text/javascript">
		document.write(new Date().getFullYear());
	</script> -->
	</footer>
</div>
</body>
</div>

</html>