<!DOCTYPE html>
<html lang="en">
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Park</title>
</head>
<body>

        <ul>
                <li th:each="park : ${parks}">
                    <span th:text="|${park.name}: ${park.location}, favorite color: ${park.type}|">Default value</span>
                </li>
            </ul>
            <form action="/parks/add" method="POST">
                <input type="text" name="name" />
                <input type="text" name="location" />
                <input type="text" name="type" />
                <!-- input type="submit" value="Submit" /-->
                <button type="submit">Submit</button>
            </form>
    
</body>
</html>