*{
	margin: 0;
	padding:0;
	}
  #cat1 {
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center; 
	color: white;
	background-color: black; 
	opacity: .8;
	padding: 2em;
	list-style-type: none;
	text-decoration: none;

	}
  #cat2{
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center; 
	color: white;
	list-style-type: none;
	background-color: black; 
	opacity: .8;
	padding: 2em;
	text-decoration: none;
  }		
    
  #center {
	display: flex;
	justify-content: center;
	align-items: center; 
	color: white;
	background-color: black; 
	opacity: .8;
	}
  #center2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:  black;
	color: white;
	opacity: .8;
    }
  
  footer {
	background-color: black;
	bottom: 0;
	color: white;
	display: flex;
	left: 0;
	opacity: .8;
	position: fixed;
	text-align: center;
	width: 100%;
	}

  .grid-container{
    grid-template-rows: 130px;
    grid-template-columns: 130px;
    opacity: .8;
	}
  	    
  .grid-header {
    box-shadow: 0 1px 9px -2px #FFFFFF;
    background-color: black;
    opacity: .8;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
    margin-bottom: 3rem;
}
  
   html { 
	background-image: url("../forest-trail.jpg");
	background-color: green;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 2em;
	min-width: 100%;
	min-height: 100%;	 
    } 

	li  {
	border: none;
	border-radius: 12px;
	color: white;
    font-size: 1em;
	list-style-type: none;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	}
	 
   main {
	align-items: center;  
	display: flex;
	justify-content: center;
	text-align: center;
    }

    p {
	color: white;	
	padding: 2px;  
	}
	
    script {
	color: white;
	padding: 1px;
	}
	
    ul {
	align-items: center;
	color: #b0def2;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 1px;
	padding: 20px;
	text-align: justify;
	text-decoration: none;
    }
  
    .wrapper {
	display: grid;
	grid-template-rows: .5fr 3fr .5fr;
		}
		
		#logo {
			margin-left: 2rem;
	}
