.background {
    background-image: url("../forest-trail.jpg");
    background-color: #5faf1b;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    border-style: solid;
    border-width: .5px;
}

.container__body {
    padding-top: 1rem;
    text-align: center;
    max-width: 100em;
    width: 70%;
    background-color: white;
    align-self: center;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.container__list-old-comments {
    /* background-color: yellow; */
    grid-column-start: 1;
    grid-column-end: 11;
    margin: 0;
    padding: 0;
    text-align: left;
    margin: -.5px 4rem -.5px 4rem;
    border-style: solid;
    border-width: .5px;
    white-space:normal;
}

.container__new-comment {
    /* background-color: green; */
    grid-column-start: 1;
    grid-column-end: 11;
    margin: 2rem 4rem auto 4rem;
}

.container__old-comment-header {
    /* background-color: orange; */
    grid-column-start: 1;
    grid-column-end: 11;
    margin: 1rem 4rem auto 4rem;
}

.container__submit {
    /* background-color: pink; */
    grid-column-start: 1;
    grid-column-end: 11;
    margin: 2rem 4rem 1rem 4rem;
}

.container__title {
    /* background-color: red; */
    grid-column-start: 1;
    grid-column-end: 11;
    margin: 1rem 4rem -.5px 4rem;
    border-style: solid;
    border-width: .5px;
}

.container__review {
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 11;
    text-align: left;
    margin: auto 4rem auto 4rem;
    border-style: solid;
    border-width: .5px;
}

#commentWrap{
    flex: display;
    flex-wrap: wrap;
}

.grid-footer {
    background-color: #000000;
    color: #ffffff;
    opacity: .8;
    padding: 1.2rem;
    margin-top: 3rem;
}

.grid-header {
    box-shadow: 0 1px 9px -2px #FFFFFF;
    background-color: black;
    opacity: .8;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
    margin-bottom: 3rem;
}

.grid-header__parkname {
    color: white;
}

li {
    list-style: none;
}

#logo {
    margin-left: 2rem;
}

input::-webkit-input-placeholder {
    text-align: center;
}

input:-moz-placeholder {
    text-align: center;
}

input::-moz-placeholder {
    text-align: center;
}

input:-ms-input-placeholder {
    text-align: center;

}

input[type="text"] {
    width: 100%;
    height: 3rem;
}

input[type="submit"] {
    width: 100%;
}