li {
    list-style: none;
}

.grid-header {
    box-shadow: 0 1px 9px -2px #FFFFFF;
    background-color: black;
    opacity: .8;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
    margin-bottom: 3rem;
}

.grid-header__parkname {
    color: white;
}

#review-text-box {
    width: 50%;
    height: 15rem;
}

#review-box-title {
    width: 50%;
}

#logo {
    margin-left: 2rem;
}

.background {
    background-image: url("../forest-trail.jpg");
    background-color: #5faf1b;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-footer {
    background-color: #000000;
    color: #ffffff;
    opacity: .8;
    padding: 1.2rem;
    margin-top: 3rem;
}

.container__body {
    padding-top: 1rem;
    text-align: center;
    /* max-width: 100em; */
    width: 90%;
    background-color: white;
    align-self: center;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 2, 3fr;
    grid-template-rows: 7, 1fr;
    grid-gap: 2px;
    
}

.review-instructions {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
    text-align: center;

}