li {
    list-style: none;
}

.grid-header {
    box-shadow: 0 1px 9px -2px #FFFFFF;
    background-color: black;
    opacity: .8;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
    margin-bottom: 3rem;
}

.grid-header__parkname {
    color: white;
}

#logo {
    margin-left: 2rem;
}

.background {
    background-image: url("../forest-trail.jpg");
    background-color: #5faf1b;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-footer {
    background-color: #000000;
    color: #ffffff;
    opacity: .8;
    padding: 1.2rem;
    margin-top: 3rem;
}

.container__body {
    padding-top: 1rem;
    text-align: center;
    width: 60%;
    background: hsla(120, 33%, 99%, 0.5);
    align-self: center;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.review-instructions {
    grid-column-start: 1;
    grid-column-end: 11;
    /* background-color: blue; */
    text-align: center;
    border-style: solid;
    border-width: .5px;
}

.review-title {
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: purple;
    border-style: solid;
    border-width: .5px;
}

.review__content {
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: green;
    border-style: solid;
    border-width: .5px;
}

.review__button {
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: orange;
    border-style: solid;
    border-width: .5px;
}

.old-reviews {
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: yellow;
    border-style: solid;
    border-width: .5px;
    text-align: center;
    margin: auto;
}

.review_input {
    width: 100%;
    height: 40px;
    /* border: 2px solid #aaa;
    border-radius: 2px; */
    /* margin: 8px 0;
    padding: 8px; */
    /* box-sizing: border-box;
    transition: .3s; */
}

input[type="text"] {
    width: 80%;
    height: 1rem;
}